@linkColor: #23497C;

body{
  >div:not(#voz-living-app), else>div:not(#voz-living-app){
    margin-left: 50px;
  }
  .voz-living-side-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    padding: 0 0 0 5px;

    .btn-group{
      position: relative;

      .btn{
        margin-top: 5px;
        color: #000 !important;
      }

      .btn-options{
        position: absolute;
        top: 5px;
        left: 50px;
        width: 400px;
        padding: 10px;
        background: #ddd;
        color: #000;
        border: 1px solid #ccc;
        max-height: 600px;
        overflow-y: scroll;

        a {
          cursor: pointer;
          color: @linkColor;
        }

        h3 {
          margin: 0 0 5px 0;
          font-size: 18px;
          font-weight: bold;
        }

        > small{
          color: red;
        }

        .control-wrapper{
          line-height: 28px;
          input{
            float: left;
            margin: 8px 8px 0 0;
          }
        }

        .quote-row{
          border-bottom: 1px solid #ccc;
          padding: 5px 0;
          font-size: 12px;

          .quote-title{
            font-weight: bold;
          }

          .quote-content{
            margin: 5px 0;
          }

          .quote-bottom{
            font-weight: bold;
            font-size: 10px;
          }
        }
      }
    }
  }
}
