@linkColor: #23497C;

body{
  >div:not(#voz-living-app), else>div:not(#voz-living-app), >form{
    margin-left: 50px;
  }
  .voz-living-side-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    padding: 0 0 0 5px;

    .btn-group{
      position: relative;

      .btn{
        margin-top: 5px;
        color: #000 !important;
        transition: all 0.3s;
        width: 100%;

        .badge{
          position: absolute;
          color: red;
          z-index: 1000;
          background: #E1E4F2;
          border-radius: 20px;
          padding: 2px;
          font-size: 14px;
          line-height: 14px;
          left: 25px;
          top: 2px;
          min-width: 14px;
        }
        &.active {
          border-radius: 0;
          padding-right: 5px;
        }
      }

      .btn-options{
        position: fixed;
        top: 0px;
        left: 50px;
        width: 450px;
        height: 100%;
        padding: 10px;
        background: #ddd;
        color: #000;
        border: 1px solid #ccc;
        z-index: 10001;

        a {
          cursor: pointer;
          color: @linkColor;
        }

        h3 {
          margin: 0 0 5px 0;
          font-size: 18px;
          font-weight: bold;
        }

        > small{
          color: red;
        }

        .control-wrapper{
          line-height: 28px;
          input[type="checkbox"]{
            float: left;
            margin: 8px 8px 0 0;
          }
          input[type="number"]{
            line-height: 20px;
            margin-left: 10px;
            min-width: 100px;
          }
        }

        .quote-list{
          max-height: 100%;
          overflow-y: scroll;

          .quote-row{
            border-bottom: 1px solid #ccc;
            padding: 5px 0;
            font-size: 12px;

            .quote-title{
              font-weight: bold;
            }

            .quote-content{
              margin: 5px 0;
            }

            .quote-bottom{
              font-weight: bold;
              font-size: 10px;
            }

            &:last-child{
              border-bottom: none;
            }
          }
        }

        // &:after, &:before {
        // 	right: 100%;
        // 	top: 15px;
        // 	border: solid transparent;
        // 	content: " ";
        // 	height: 0;
        // 	width: 0;
        // 	position: absolute;
        // 	pointer-events: none;
        // }

        // &:after {
        // 	border-color: rgba(221, 221, 221, 0);
        // 	border-right-color: #ddd;
        // 	border-width: 10px;
        // 	margin-top: -10px;
        // }

        // &:before {
        // 	border-color: rgba(204, 204, 204, 0);
        // 	border-right-color: #ccc;
        // 	border-width: 11px;
        // 	margin-top: -11px;
        // }
      }
    }
  }
}
