.sticker-box{
  height: 82px;
  background: white;
  overflow-x: scroll;
  overflow-y: hidden;
  > div {
    margin-top: 2px;
    white-space: nowrap;
    .sticker {
      height: 60px;
      margin: 2px;
      transition: all 0.2s;
      border: 1px solid white;
      cursor: pointer;
      &:hover {
        margin: 0;
        height: 64px;
        border: 1px solid #666;
      }
    }
  }
  span a {
    text-decoration: underline;
    font-weight: bold;
  }

  &.empty-sticker {
    height: 20px;
  }
}
.full .sticker-box {
  width: 544px;
}
.sticker-set-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    line-height: 16px;
    font-size: 14px;
    margin: 0;
    padding: 2px 5px;
    border: 1px solid #999;
    background: #fff;
    transition: all 0.2s;
    cursor: pointer;
    &.sticker-set-selected {
      background: #ddd;
      text-shadow: 0 0 5px rgba(255,255,255,0.9);
    }
    button {
      border-radius: 0;
      padding: 0 5px;
      margin: 0;
      line-height: 18px;
      font-size: 15px;
    }
  }
}