{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "chrome": true
  },
  "rules": {
    "experimentalDecorators": 0
  },
  "parser": "babel-eslint"
}
